body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin:0;
  }


#prompt-user-turn {
  padding: 5px;
}
  

  aside {
    width: 25%;
    height: 100vh;
    padding: 20px;
  }

  #left-aside {
    background-color: plum;
  }

  #right-aside {
    background-color: lightgreen;
  }

  main {
    background-image: url(./assets/1000_F_507909490_RwUDYVlg1XLfgLn64kfjg4ubcaRzTG6D.jpg);
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 5px;
    padding-right: 5px;
    padding-bottom: 44px;
  }
  .grid-container {
    background-color: blue;
    display: grid;
    height: 70%;
    width: 84%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    grid-gap: 26px;

  }

  .grid-cell {
    background-image: url(./assets/1000_F_507909490_RwUDYVlg1XLfgLn64kfjg4ubcaRzTG6D.jpg);
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .cell-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: xxx-large;
  }